.tictactoe-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #1b1a3b;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.heading-text,
.winner-message,
.current-player-message {
  /* color: rgb(64, 247, 3); */
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
}

.winner-message,
.current-player-message {
  margin: 0;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 28px;
  background: linear-gradient(to right, #ffcd36 0%, #ffcd36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  display: inline-block;
  min-width: 70px;
  min-height: 50px;
  font-size: 44px;
  text-align: center;
  color: #1cdbf5;
  font-weight: bolder;
  padding: 10px 20px;
}

.b-bottomRight {
  border-right: 12px solid #1cdbf5;
  border-bottom: 12px solid #1cdbf5;
}

.b-bottom {
  border-bottom: 12px solid #1cdbf5;
}

.b-right {
  border-right: 12px solid #1cdbf5;
}

.clear-button {
  color: black;
  width: max-content;
  padding: 8px;
  font-size: medium;
  border: none;
  border-radius: 10px;
  margin: 40px auto 30px auto;
}
