.tetris-wrapper {
  height: 100vh;
  width: 100vw;
  background: url(../../img/tetrisBG.jpg) no-repeat center center fixed #000;
  background-size: cover;
  overflow: hidden;
}

.tetris {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 15px;
  margin: 0 auto;
}

.aside-container {
  width: 100%;
  flex-grow: 1;
  max-width: 500px;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
